@define-color foreground #FFFFFF;
@define-color background #000000;

@define-color inactive-text #FFFFFF;

@define-color active-text #000000;
@define-color active-background #FFFFFF;

@define-color important-background #D41717;

* {
    font-family:   JetBrainsMono Nerd Font;
    font-size:     12px;
    min-height:    0;
    font-weight:   bold;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-os_button {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 15px;
}

#window * {
    padding-left: 12px;
    font-style: italic;
    font-weight: normal;
}

#workspaces button {
    border-radius: 0;
    margin: 1px;
    padding: 2px;
    color: @inactive-text;
    font-weight: bold;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    background-color: @active-background;
    color: @active-text;
    border-radius: 0;
}

#workspaces button.active {
    background-color: @active-background;
    color: @active-text;
}

#custom-media,
#wireplumber,
#cpu,
#memory,
#disk,
#network,
#battery,
#clock,
#custom-separator {
    padding-left: 5px;
    padding-right: 6px;
}

#custom-media {
    color: #6e8387;
}

#wireplumber.muted {
    color: #cc3436;
    font-size: 15px;
}

#battery.charging {
    color: #2dcc36;
}

#battery.warning:not(.charging) {
	color: #e6e600;
}

#battery.critical:not(.charging) {
    color: #cc3436;
}
