@define-color foreground #FFFFFF;
@define-color background #000000;

@define-color inactive-text #FFFFFF;

@define-color active-text #000000;
@define-color active-background #FFFFFF;

@define-color important-background #D41717;

@define-color normal-state #32A852;
@define-color warning-state #A86F32;
@define-color critical-state #A83232;

* {
    font-family:   JetBrainsMono Nerd Font;
    font-size:     12px;
    min-height:    0;
    font-weight:   bold;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window * {
    margin-left: 12px;
    font-style: italic;
    font-weight: normal;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    border-radius: 0;
    margin: 1px;
    padding: 0px 2px;
    color: @inactive-text;
    font-weight: bold;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    background-color: @active-background;
    color: @active-text;
    border-radius: 0;
}

#workspaces button.active {
    background-color: @active-background;
    color: @active-text;
}

/* OS-BUTTON */
#custom-os_button {
    color: #5a90db;
    font-size: 15px;
    margin-left: 12px;
    margin-right: 15px;
}

#custom-media,
#wireplumber,
#cpu,
#memory,
#disk,
#network,
#battery,
#clock,
#custom-power_button {
    padding-left: 5px;
    padding-right: 6px;
}

/* CURRENT SONG */
#custom-media {
    background-color: #5a90db;
    color: #000000;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

/* BLUETOOTH */
/* #custom-bluetooth { */
/*     color: #5a90db; */
/*     font-size: 15px; */
/* } */

#custom-bluetooth {
    font-size: 15px;
    color: #5a90db;
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

/* WIREPLUMBER */
/* #media { */
/*     background-color: #1B2430; */
/*     margin: 4px 4px 4px 0px; */
/*     padding-left: 7px; */
/*     padding-right: 7px; */
/*     border-radius: 5px; */
/* } */

#wireplumber {
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

#wireplumber.muted {
    color: #cc3436;
    font-size: 15px;
}

/* STATS */
#stats {
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

/* CPU */
#cpu.warning { color: @warning-state; }
#cpu.critical { color: @critical-state; }

/* MEMORY */
#memory.ram.warning { color: @warning-state; }
#memory.ram.critical { color: @critical-state; }

/* DISK */
#disk.warning { color: @warning-state; }
#disk.critical { color: @critical-state; }

/* NETWORK */
#network {
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}
#network.disconnected { color: @critical-state; }

/* BATTERY */
/* Default battery style */
#battery {
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

/* Charging (any %) */
#battery.charging { color: @normal-state; }
#battery.warning:not(.charging) { color: @warning-state; }
#battery.critical:not(.charging) { color: @critical-state; }

/* CLOCK */
#clock {
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

/* TRAY */
#tray {
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

/* CUSTOM-POWER_BUTTON */
#custom-power_button {
    color: @critical-state;
    font-weight: bold;
    font-size: 15px;
    background-color: #1B2430;
    margin: 4px 4px 4px 0px;
    margin-right: 12px;
    padding-left: 7px;
    padding-right: 10px;
    border-radius: 5px;
}
