@define-color foreground #FFFFFF;
@define-color background #000000;

@define-color inactive-text #FFFFFF;

@define-color active-text #000000;
@define-color active-background #FFFFFF;

@define-color important-background #D41717;

@define-color normal-state #32A852;
@define-color warning-state #A86F32;
@define-color critical-state #A83232;

* {
    font-family:   JetBrainsMono Nerd Font;
    font-size:     12px;
    min-height:    0;
    font-weight:   bold;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-groupmode {
    font-size: 20px;
}

#window * {
    padding-left: 12px;
    font-style: italic;
    font-weight: normal;
}

#workspaces button {
    border-radius: 0;
    margin: 1px;
    padding: 2px;
    color: @inactive-text;
    font-weight: bold;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    background-color: @active-background;
    color: @active-text;
    border-radius: 0;
}

#workspaces button.active {
    background-color: @active-background;
    color: @active-text;
}

#custom-media,
#wireplumber,
#cpu,
#memory,
#disk,
#network,
#battery,
#clock,
#custom-separator,
#custom-power_button {
    padding-left: 5px;
    padding-right: 6px;
}

/* CUSTOM-MEDIA */
#custom-media {
    color: #6e8387;
}

/* OS-BUTTON */
#custom-os_button {
    color: #5a90db;
    font-size: 15px;
    padding-left: 12px;
    padding-right: 15px;
}

/* WIREPLUMBER */
#wireplumber.muted {
    color: #cc3436;
}

/* CPU */
#cpu.warning {
    color: @warning-state;
}

#cpu.critical {
    color: @critical-state;
}

/* MEMORY */
#memory.ram.warning {
    color: @warning-state;
}

#memory.ram.critical {
    color: @critical-state;
}

/* DISK */
#disk.warning {
    color: @warning-state;
}

#disk.critical {
    color: @critical-state;
}

/* NETWORK */
#network.disconnected {
  color: @critical-state;
}

/* BATTERY */
/* Default battery style */
#battery {
    min-width: 30px;
}

/* Charging (any %) */
#battery.charging {
    color: @normal-state;
}

/* Warning level (<=30%) and not charging */
#battery.warning:not(.charging) {
    color: @warning-state;
}

/* Critical level (<=15%) and not charging */
#battery.critical:not(.charging) {
    color: @critical-state;
}

/* CLOCK */
/* add customizations here */

/* CUSTOM-POWER_BUTTON */
#custom-power_button {
    color: @critical-state;
    font-weight: bold;
    font-size: 15px;
    padding-right: 15px;
}
